.App {
  text-align: center;
}

.buttons {
  display: flex;
  margin: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.array-container {
  display: flex;
  margin: 200px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.array-bar {
  flex: 1 1;
  width: 2px;
  background-color: turquoise;
  margin: 1px;
  align-self: flex-end;
  transform: rotate(180deg);
}
